<!DOCTYPE html>
<html>
    <head>
        <title>[% title %]</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/sugar.js"></script>

[% headers %]

    </head>
    <body>

[% content %]

    </body>
</html>
